#search{
    margin:-12vh 5% 25px 5%;
    font-size: medium;
    border-style: none;
    box-shadow: 1px 1px 2px 0px hsl(180, 8%, 52%);
    border-radius: 5px;
    padding: 20px;
    position: sticky;
    top:1%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
    gap: 10px;
    z-index: 1;
    .button{
       position: absolute;
        right: 2%;
        top: 50%; 
        transform: translate(0%, -50%);
        display: flex;
        gap: 10px;
        @media(max-width:700px) {
            display: grid;
        }
    }
    .clear{
        background: none;
        border-style: none;
        outline: none;
        cursor: pointer;
        color: #7b8e8e;
        font-weight: 700;
        font-size: small;
        &:hover{
           color: hsl(180, 29%, 50%); 
           text-decoration: underline;
        }
    }
    input[type=search]{
        border-style: none;
        /* clears the 'X' from Internet Explorer */
        input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
        input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

        /* clears the 'X' from Chrome */
        input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-button,
            input[type="search"]::-webkit-search-results-decoration {
             display: none; 
            }
    }
    #location{
        border-left: #7b8e8e 1px solid;
        @media (max-width:700px){
            border-style: none;
        }
    }
}
input[type=search]:focus{
    outline: none;
}

form{
    display: grid;
    grid-template-columns: 60% 20% 10%;
    width: 100%;
    @media(max-width:700px) {
    grid-template-columns: 100%;
    gap: 20px;
    }
}