#form{
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 5px 0px hsl(180, 8%, 52%);
    border-radius: 5px;
    //width: fit-content;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    box-sizing: border-box;
    
    input{
        border: 1px solid grey;
    }

}
#formDiv{
    width: fit-content;
    margin: 10px;
}
#frontPage{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    max-width: 100%;
    h1{
        text-align: center;
    }
}

label{
    //margin-bottom: 2vh;
    //padding: 20px;
    input{
        width: 100%;
        padding: 10px;
        margin: 0;
    box-sizing: border-box;
    }
}
 
.whichSite{

    input, label{
        width: fit-content;
        margin: 5px;
    }


    button[type=submit]{
        width: fit-content;
        margin: auto;
        margin-top: 20px;
    }

}

.extraParameters{
    display: flex;
    flex-wrap: wrap;
}

.card{
    max-width: 50%;
    display: grid;
    box-shadow: 0px 0px 2px rgba(87, 86, 86, 0.61);
    flex-grow: 1;
    
    
}

.whichSite{
    max-width: 100%;
    box-shadow: none;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
}
.card select{
    width: 100px;
}

#frontPage{
    max-width: 20%;
    display: inline-grid;
    height: max-content;
    position: fixed;
    transition: all 1s;
    z-index: 1;
    top: 22%;
    overflow: auto;
    height: 73%;
}

.listOfJobs {
    display: inline-grid;
    max-width: 80%;
    margin-left: 0;
    transition: all 1s;
    float: right;
    margin-top: 207px;
}
.select{
    position: fixed;
    top:0%;
    right: 0%;
    left: 0%;
    height: fit-content;
    z-index: 2;
    background-color: #effafa;
}
@media(max-width: 1200px){
    .listOfJobs{
        max-width: 100%;
        margin-top: 0px;
    }
    #frontPage{
        max-width: 0%;
        overflow: hidden;
        
    }
    .select{
        display: contents;
        position: relative;
    }
}

.filterSites{
    display: inline-block;
    margin: 5px;
    label{
        margin: 5px;
    }
    
}

nav{
    z-index: 3 !important;
}
.select hr{
    margin: 0;
}
body, html{
    min-height: 100%;
}
